@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Yanone+Kaffeesatz:wght@500&display=swap');


.bgimage{
	background-image: url(c5.jpg);
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	/*z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);*/
}
h1{
	left: 30%;
	top: 15%;
	position: absolute;
	font-family: 'Acme', sans-serif;
	font-size: 30px;
}
.registerbox{
	font-family: 'Acme', sans-serif;
	font-size: 27px;
	background-color: #072C50;
	color: white;
	width: 260px;
	height: 230px;
	left:20%;
	top:35%;
	position: absolute;
	padding: 20px;
	border-radius: 20px;
}
.editbox{
	font-family: 'Acme', sans-serif;
	font-size: 27px;
	background-color:  #072C50;
	color: white;
	width: 260px;
	height: 230px;
	position: absolute;
	left: 60%;
	top: 35%;
	padding: 20px;
	border-radius: 20px;
}
.registerbox input[type = "submit"]{
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	font-weight: bold;
	height:50px;
	width: 150px;
	top: 75%;
	left: 24%;
	position: absolute;
	border-radius: 20px;
	border: none;
	background-color: #ff6700;
}
.editbox input[type = "submit"]{
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	font-weight: bold;
	top: 75%;
	height:50px;
	width: 150px;
	left: 25%;
	position: absolute;
	border-radius: 20px;
	border: none;
	background-color: #ff6700;
	
}
.editbox input[type = "submit"]:hover {
	cursor: pointer;
	background-color: #fd5800;
	transform: translateZ(10px);
	width: 153px;
	height: 53px;
}
.registerbox input[type = "submit"]:hover {
	cursor: pointer;
	background-color: #fd5800;
	transform: translateZ(10px);
	width: 153px;
	height: 53px;
}
.edit{
	background-color: darkblue;
	width: 350px;
	height: 320px;
	left: 35%;
	top: 30%;
	position: absolute;
	border-radius: 20px;
	display: flex;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.edhead{
	width: 320px;
	height: 20vh;
	left: 39%;
	position: absolute;
	font-size: 20px;
	color: white;
}
.editdetbox {
	top: 35%;
	left: 25%;
	position: absolute;
	font-size: 20px;
	color: white;
}
.edit input[type="number"]{
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
}
.edit input[type = "submit"]{
	width: 200px;
	height: 45px;
	top: 120%;
	left: -5%;
	position: absolute;
	border-radius: 20px;
	border: none;
	background-color: gray;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}
.edit input[type = "submit"]:hover{
	background-color: white;
	width: 205px;
	height: 50px;
}
button{
	width: 70px;
	height: 30px;
	border: none;
	background-color: white;
}